WpfApp/Connected Services/DeliveryService/Data.States.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Data.States" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Data.States" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="PackageCondition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Damaged" />
      <xs:enumeration value="NotDamaged" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PackageCondition" nillable="true" type="tns:PackageCondition" />
  <xs:simpleType name="PackageState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CustomerNotHome" />
      <xs:enumeration value="CustomerWasHome" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PackageState" nillable="true" type="tns:PackageState" />
  <xs:simpleType name="ShipmentState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HeldInTrck" />
      <xs:enumeration value="Delivered" />
      <xs:enumeration value="OutForDelivery" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ShipmentState" nillable="true" type="tns:ShipmentState" />
</xs:schema>