WpfApp/Connected Services/DeliveryService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeliveryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Data.Database" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Data.States" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeliveryService_GetShipments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShipments" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_GetShipments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShipmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_UpdateShipment_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateShipment" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_UpdateShipment_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateShipmentResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_GetPackages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPackages" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_GetPackages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPackagesResponse" />
  </wsdl:message>
  <wsdl:portType name="IDeliveryService">
    <wsdl:operation name="GetShipments">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliveryService/GetShipments" message="tns:IDeliveryService_GetShipments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliveryService/GetShipmentsResponse" message="tns:IDeliveryService_GetShipments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateShipment">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliveryService/UpdateShipment" message="tns:IDeliveryService_UpdateShipment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliveryService/UpdateShipmentResponse" message="tns:IDeliveryService_UpdateShipment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPackages">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliveryService/GetPackages" message="tns:IDeliveryService_GetPackages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliveryService/GetPackagesResponse" message="tns:IDeliveryService_GetPackages_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDeliveryService" type="tns:IDeliveryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetShipments">
      <soap:operation soapAction="http://tempuri.org/IDeliveryService/GetShipments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateShipment">
      <soap:operation soapAction="http://tempuri.org/IDeliveryService/UpdateShipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackages">
      <soap:operation soapAction="http://tempuri.org/IDeliveryService/GetPackages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeliveryService">
    <wsdl:port name="BasicHttpBinding_IDeliveryService" binding="tns:BasicHttpBinding_IDeliveryService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Service/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>