WpfApp/Connected Services/DeliveryService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Data.Database" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Data.States" />
  <xs:element name="GetShipments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Data.Database" minOccurs="0" name="truck" nillable="true" type="q1:Truck" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Data.Database" minOccurs="0" name="GetShipmentsResult" nillable="true" type="q2:ArrayOfShipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePackageState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Data.States" minOccurs="0" name="shipmentState" type="q3:ShipmentState" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Data.States" minOccurs="0" name="packageCondition" type="q4:PackageCondition" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Data.States" minOccurs="0" name="packageState" type="q5:PackageState" />
        <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Data.Database" minOccurs="0" name="package" nillable="true" type="q6:Package" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePackageStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Data.Database" minOccurs="0" name="shipment" nillable="true" type="q7:Shipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Data.Database" minOccurs="0" name="GetPackagesResult" nillable="true" type="q8:ArrayOfPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>