WpfApp/Connected Services/DeliveryService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Data.Database" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Data.States" />
  <xs:element name="GetShipments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Data.Database" minOccurs="0" name="truck" nillable="true" type="q1:Truck" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Data.Database" minOccurs="0" name="GetShipmentsResult" nillable="true" type="q2:ArrayOfShipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Data.Database" minOccurs="0" name="shipment" nillable="true" type="q3:Shipment" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Data.States" minOccurs="0" name="state" type="q4:ShipmentState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShipmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>